<% if @results.any? %>
  <% @results.each_with_index do |result, index| %>
    <p>Result #<%= index + 1 %></p>
    <ul>
      <li>Parcel Number: <%= result.parcel_number %></li>
      <li>Year Built: <%= result.year_built %></li>
      <li>Result: <%= result.address %></li>
    </ul>
  <% end %>
<% else %>
  <p>Sorry, nothing found.</p>
<% end %>
